.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ebebeb;
  position: relative;
}

.productContainer {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  padding: 3rem 2rem;
  min-height: 750px;
  width: 85vw;
  margin: 2rem;
  border-radius: 1rem;

  img {
    object-fit: contain;
    max-width: 90%;
  }

  .data {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid #efefef;
    padding: 3rem;
    border-radius: 2rem;

    .top {
      h2 {
        font-size: 28px;
        font-weight: 500;
      }

      h3 {
        font-size: 48px;
      }
    }

    .center {
      span {
        font-weight: 500;
      }

      ul {
        margin-top: 0.5rem;
        max-width: 450px;
        display: flex;
        flex-direction: column;

        li {
          font-weight: 400;
          font-size: 14px;
        }
      }
    }
  }
}

.notification {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 2rem;
  margin-bottom: 2rem;

  transition-duration: 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;

  animation-name: fade-in;
  animation-duration: 1s;
  opacity: 0;

  padding-left: 0;
  color: white;

  .iconContainer {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 1rem 0.5rem;
    border-radius: 4px 0 0 4px;
  }

  p {
    background-color: #2f3032;
    padding: 1rem;
    border-radius: 0 4px 4px 0;
    font-weight: 500;
  }

  &:hover {
    transform: rotate(-3deg) scale(1.1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
